/* للكومبيوترات والأجهزة الكبيرة */
@media (min-width: 1024px) {
  .main {
    flex-direction: row;
    gap: 200px;
  }
  
  .pic {
    max-width: 40%;
  }
  
  .texte {
    width: 370px;
  }
  
  .p1 {
    font-size: 48px;
    width: 600px;
  }
  
  .p2 {
    font-size: 16px;
    width: 300px;
  }
  
  .but {
    width: 120px;
    height: 50px;
  }
}

/* للشاشات المتوسطة (تابلت) */
@media (max-width: 1024px) {
  .main {
    flex-direction: column;
    gap: 20px;
    width: 80vw;
  }

  .pic {
    max-width: 50%;
  }
  
  .texte {
    width: 100%;
  }

  .p1 {
    font-size: 36px;
    width: 100%;
  }

  .p2 {
    font-size: 14px;
    width: 100%;
  }

  .but {
    width: 100px;
    height: 40px;
  }
}

/* للهواتف */
@media (max-width: 600px) {
  body {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .main {
    flex-direction: column;
    width: 90vw;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .pic {
    max-width: 80%;
  }

  .texte {
    width: 100%;
  }

  .p1 {
    font-size: 24px;
    width: 100%;
  }

  .p2 {
    font-size: 12px;
    width: 100%;
  }

  .but {
    width: 80px;
    height: 30px;
  }

  .nav {
    flex-direction: column;
    align-items: center;
  }

  .nav p {
    margin: 10px 0;
  }
}
